$header-height: 50px;

:host {
	height: $header-height;
	line-height: $header-height;
	width: 100%;
	padding: 0px 20px;
	position: fixed;
	top: 0;
	background-color: #64b5f6;
	z-index: 1;
}

h1, a {
	float: left;
}

h1 {
	font-size: 40px;
	padding: 0;
	margin: 0;
	color: white;
}
